[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.18.0"
selenium = "==3.141.0"
pillow = "==8.2.0"

[dev-packages]
flake8 = "==3.9.2"
mypy = "==0.902"
pytest = "==6.2.4"
black = "==21.6b0"
pytest-cov = "==2.12.1"
coverage = "==5.5"
sphinx = "==4.0.2"

[requires]
python_version = "3.8"

[scripts]
v = "python --version"
start = "mmscreenshot -o \"./screenshot.png\" \"https://weather.yahoo.co.jp/weather/jp/13/4410.html\" \"//div[@class='forecastCity']/table/tbody/tr/td/div\""
ut = "pytest -v --capture=no --cov-config .coveragerc --cov=mmscreenshot --cov-report=xml --cov-report term-missing ."
utsp = "pytest -v --capture=no --cov-config .coveragerc --cov=mmscreenshot --cov-report=xml --cov-report term-missing -k TestChromeDriver ."
ut_fast = "pytest -v --capture=no --cov-config .coveragerc --cov=mmscreenshot --cov-report=xml --cov-report term-missing -m 'not slow' ."
lint = "flake8 --max-line-length=100 --ignore=E203,W503 mmscreenshot"
doc = "./script/doc.sh"
