[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.12.0"
selenium = "==3.141.0"
pillow = "==7.0.0"

[dev-packages]
flake8 = "==3.7.9"
mypy = "==0.761"
pytest = "==5.3.5"
black = "==19.10b0"
pytest-cov = "==2.8.1"
coverage = "==5.0.3"
sphinx = "*"

[requires]
python_version = "3.6"

[scripts]
v = "python --version"
start = "mmscreenshot -o \"./screenshot.png\" \"https://weather.yahoo.co.jp/weather/jp/13/4410.html\" \"//div[@class='forecastCity']/table/tbody/tr/td/div\""
ut = "py.test -v --capture=no --cov-config .coveragerc --cov=mmscreenshot --cov-report=xml --cov-report term-missing ."
utsp = "py.test -v --capture=no --cov-config .coveragerc --cov=mmscreenshot --cov-report=xml --cov-report term-missing -k TestChromeDriver ."
ut_fast = "py.test -v --capture=no --cov-config .coveragerc --cov=mmscreenshot --cov-report=xml --cov-report term-missing -m 'not slow' ."
lint = "flake8 --max-line-length=100 --ignore=E203,W503 mmscreenshot"
doc = "./doc.sh"
